* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(30, 30, 30) y;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "M PLUS Rounded 1c", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 54, 95);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 54, 95);
}
